<!DOCTYPE html>
<html>
<head>
    <!--meta charset tag is needed to correctly parse D3 functions and data-->
    <meta charset="utf-8">
    <!--Links to this project's CSS, jQuery CSS, Google API, jQuery minified library, D3, and custom D3 library from http://labratrevenge.com/d3-tip/-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/easyui.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easyui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Cagedd3tips/index.js') }}"></script>


<style>
    #banner {
        width:100%;
        height:90px;
        background: url("{{ url_for('static', filename='img/LOGO.jpg') }}");
        background-color: #4D4D4D;
        background-repeat: no-repeat;
        padding:0;
        margin:0;
    }
</style>

</head>

<body class="easyui-layout" >
    <div id="banner" data-options="region:'north', split:false"></div>

    <div id="ddcontrols" data-options="region:'west',split:true" style="width:435px;">
        <h4>Enter some introductory text to help the user....Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate.
        </h4>
        <fieldset>
            <!--Create dropdown form fields-->
            <label>Choose a state:<div id="statesdrop">
                <select id="statelist"></select>
            </div></label><br />

            <label>Choose a university:<div id="universitydrop">
                <select id="unislist" ></select>
            </div></label><br />

            <label>Choose a major:<div id="majordrop"></div></label><br />
                <select id="majorlist" ></select>
        </fieldset>

    <script>
        // Populates 'statelist' select list (upper-left)
        // Using getJSON method to call list of states.

        $.getJSON("/stemroi/api/statesdd", null, function(data) {
            // Remove all <option> child tags. -- WHY DID I WRITE THIS??
            // Call statelist form field created above and clear out dropdown
            // https://stackoverflow.com/questions/9909326/clear-dropdownlist-with-jquery
            $("#statelist").empty();
            // Adds a blank value to the beginning of the dropdown list
            $("#statelist").append($("<option></option>").text(" ").val(" "));
            $("#unislist").empty();
            $("#majorlist").empty();



            // Iterates through a collection http://api.jquery.com/jquery.each/
            $.each(data, function(index, item) {
                $("#statelist").append( // Append an object to the inside of the select box
                    $("<option></option>")
                    .text(item.state)
                    .val(item.fips)
                );
            });
        });



        // Populates 'unislist' select list (middle-left) based on state dropdown
        $('#statelist').change(function() {
            $.ajax({
                url: '/stemroi/api/universitydd',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                // Get state selected and convert the object to a string
                // https://stackoverflow.com/questions/6323338/jquery-ajax-posting-json-to-webservice
                data: JSON.stringify({ fips: $('#statelist :selected').val()}),
                success: function(result) {
                    // Clear out dropdown of universities and majors if statelist changes
                    $("#unislist").empty();
                    $("#unislist").append($("<option></option>").text(" ").val(" "));
                    $("#majorlist").empty();
                    $("#majorlist").append($("<option></option>").text(" ").val(" "));
                    $('#roi_by_state').datagrid('loadData', {"total":0,"rows":[]});
                    // (Re-)populate based on state selection
                    $.each(result, function(index, item) {
                        $("#unislist").append( // Append an object to the inside of the select box
                            $("<option></option>")
                            .text(item.university_name)
                            .val(item.unitid)
                        );
                    });
                },
                error: function(e) {
                    console.log(e);
                }
             });
        });


        // Populates 'majorlist' select list (bottom-left)
        $('#unislist').change(function() {
            $.ajax({
                url: '/stemroi/api/majordd',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({ unitid: $('#unislist :selected').val()}),
                success: function(result) {
                    // Clear out dropdown
                    $("#majorlist").empty();
                    $("#majorlist").append($("<option></option>").text(" ").val(" "));
                    $('#roi_by_state').datagrid('loadData', {"total":0,"rows":[]});
                    // Re-populate based on university selection
                    $.each(result, function(index, item) {
                        $("#majorlist").append(
                            $("<option></option>")
                            .text(item.major)
                            .val(item.cip)
                        );
                    });

                },
                error: function(e) {
                    console.log(e);
                }
             });
        });

        $('#majorlist').change(function() {
            var majorListURL = '/stemroi/api/roimajorbystate/' + $('#majorlist :selected').val();
            //http://www.jeasyui.com/forum/index.php?topic=4216.0
            $('#roi_by_state').datagrid({
                url: majorListURL,
                method: 'get',
                sortName: 'State',
                sortOrder: 'asc',
                remoteSort: false,
                singleSelect: true,
                fitColumns: true,
                columns: [[
                    { field:'State', title:'State', align:'left', sortable:true, width:"15%" },
                    { field:'AveTuition', title:'Average Tuition ($)', align:'right', sortable:true, width:"18%" },
                    { field:'AveStart', title:'Average Starting Salary ($)', align:'right', sortable:true, width:"25%" },
                    { field:'AvePeak', title:'Average Peak Salary ($)', align:'right', sortable:true, width:"23%" },
                    { field:'10YRROI', title:'10-Year ROI Score', align:'right', sortable:true, width:"17%" }
                ]]
            });
        });

    </script>
    </div>


    <!--Map Tabs-->
    <div id="allmaps" data-options="region:'center', split:true" class="easyui-tabs">

            <!--University points map-->
            <div id="map" title="University Locations" data-options="closable:true"></div>
            <!--Percentage of graduates in 2015 vs 2014 Job Opportunities map-->
            <div id = "gradMap" title="Graduates vs Available Jobs" data-options="closable:true"></div>

            <!--ROI 10 years after graduation map-->
            <div title="ROI 10 Years after Graduation" data-options="closable:true"></div>


    </div>


    <!--create map panel tabs and create on click event listener
    //Event Listenr based on this code: https://github.com/waylau/jquery-easyui/blob/master/demo/tabs/hover.html-->
    <script type="text/javascript">

        $(function(){
            var tabs = $('#allmaps').tabs().tabs('tabs');
            for(var i=0; i<tabs.length; i++){
                tabs[i].panel('options').tab.unbind().bind('onselect',{index:i},function(e){
                    $('#allmaps').tabs('select', e.data.index);
                });
            }
        });

    </script>

    <!--University Locations using Google Map-->
    <script>

            var infowindow = null;
            var map = null;
            var prev_infoWindow = false;

            function initMap() {

                var mapOpts = {
                  zoom: 4,
                  center: new google.maps.LatLng(49,-110)
                };

                map = new google.maps.Map(document.getElementById("map"), mapOpts);

                /* Google Map - Silver basemap styling*/
                var visStyles = [
                    {
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#f5f5f5"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.icon",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#616161"
                      }
                    ]
                  },
                  {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                      {
                        "color": "#f5f5f5"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#bdbdbd"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#eeeeee"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.business",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#e5e5e5"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "labels.text",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#9e9e9e"
                      }
                    ]
                  },
                  {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#ffffff"
                      }
                    ]
                  },
                  {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#757575"
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#dadada"
                      }
                    ]
                  },
                  {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#616161"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                      {
                        "visibility": "off"
                      }
                    ]
                  },
                  {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#9e9e9e"
                      }
                    ]
                  },
                  {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#e5e5e5"
                      }
                    ]
                  },
                  {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#eeeeee"
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                      {
                        "color": "#c9c9c9"
                      }
                    ]
                  },
                  {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                      {
                        "color": "#9e9e9e"
                      }
                    ]
                  }
                ];
                map.setOptions({styles: visStyles});

            }

            function createMarker(point,info,map,icon) {

                var markerOpts = {
                    position: point,
                    map: map,
                    icon: icon
                };

                var marker = new google.maps.Marker(markerOpts);

                var infoWindowOpts = { content: info };
                var infoWindow = new google.maps.InfoWindow(infoWindowOpts);


                //https://stackoverflow.com/questions/2223574/google-maps-auto-close-open-infowindows
                google.maps.event.addListener(marker, 'click', function() {
                    if( prev_infoWindow ) {
                        prev_infoWindow.close();
                    }

                    prev_infoWindow = infoWindow;
                    infoWindow.open(map, marker);
                });
            }

            $.getJSON("/stemroi/api/unis", null, function(result) {
                var icon = { path: google.maps.SymbolPath.CIRCLE,
                            fillOpacity: 1.0,
                            fillColor: "red",
                            strokeOpacity: 1.0,
                            strokeColor: "black",
                            strokeWeight: 0.5,
                            scale: 4
                    };

                for (var i = 0; i < result.length; i++) {
                    var lat = result[i].latitude;
                    var long = result[i].longitude;
                    var latLng = new google.maps.LatLng(lat, long);

                    var pt = {
                        "uname": result[i].university_name,
                        "tuition": result[i].tuition
                    };

                    createMarker(latLng, 'University: <strong>'
                                    + pt.uname + '</strong><br />'
                                    + 'Tuition: $ <strong>'
                                    + pt.tuition
                                    + '<br />',
                                    map, icon);

                }
            });
        </script>


    <!--ROI Map using D3
    Based on example from Interactive Data Visualization https://github.com/alignedleft/d3-book/blob/master/chapter_14/05_choropleth.html
    <script type="text/javascript">
    $('#majorlist').change(function() {

        d3.select("#jobs_chart").selectAll("svg").remove();

        //Get major value and D3 using GeoJSON
            $.ajax({
                url: '/api/projected_jobs',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                // Get state selected and convert the object to a string
                // https://stackoverflow.com/questions/6323338/jquery-ajax-posting-json-to-webservice

                data: JSON.stringify({ cip: $('#majorlist :selected').val()}),





        //Width and height
		var w = 500;
		var h = 300;

        //Define map projection
		var projection = d3.geoAlbersUsa()
		    .translate([w/2, h/2])
            .scale([500]);
		//Define path generator
		var path = d3.geoPath()
			.projection(projection);

		//Define quantize scale to sort data values into buckets of color
		var color = d3.scaleQuantize()
		    .range(["rgb(237,248,233)","rgb(186,228,179)","rgb(116,196,118)","rgb(49,163,84)","rgb(0,109,44)"]);
			//Colors derived from ColorBrewer, by Cynthia Brewer, and included in
			//https://github.com/d3/d3-scale-chromatic

        //Create SVG element
		var svg = d3.select("body")
			.append("svg")
			.attr("width", w)
			.attr("height", h);

        //Load in agriculture data
		d3.csv("us-ag-productivity.csv", function(data) {
			//Set input domain for color scale
			color.domain([
				d3.min(data, function(d) { return d.value; }),
				d3.max(data, function(d) { return d.value; })
			]);

        	//Load in GeoJSON data
			d3.json("us-states.json", function(json) {
				//Merge the ag. data and GeoJSON
				//Loop through once for each ag. data value
				for (var i = 0; i < data.length; i++) {

					//Grab state name
					var dataState = data[i].state;

					//Grab data value, and convert from string to float
					var dataValue = parseFloat(data[i].value);

					//Find the corresponding state inside the GeoJSON
					for (var j = 0; j < json.features.length; j++) {

						var jsonState = json.features[j].properties.name;

						if (dataState == jsonState) {

							//Copy the data value into the JSON
							json.features[j].properties.value = dataValue;

							//Stop looking through the JSON
							break;

						}
					}
				}
				//Bind data and create one path per GeoJSON feature
				svg.selectAll("path")
				   .data(json.features)
				   .enter()
				   .append("path")
				   .attr("d", path)
				   .style("fill", function(d) {
				   		//Get data value
				   		var value = d.properties.value;

				   		if (value) {
				   			//If value exists…
					   		return color(value);
				   		} else {
				   			//If value is undefined…
					   		return "#ccc";
				   		}
				   });

			});

		});

        error: function(e) {
            console.log(e);
        }
    });

</script>-->


    <div id="south_side" data-options="region:'south',split:true" style="height:30%">
        <!--http://www.jeasyui.com/demo/main/index.php?plugin=Tabs&-->
        <div id="d3chartstable" style="width:50%;height:100%; float:left;padding:1px;overflow-y:hidden;position:fixed" class"easyui-tabs">

            <div id="comptuition" title="Compare Tuition by State" data-options="closable:true" style="height:100%; padding:20px">
                <div id="tuition_chart"></div>
            </div>

            <div id="compjobs" title="Compare Job Opportunities" data-options="closable:true" style="height:100%; padding:20px">
                <div id="jobs_chart"></div>
            </div>

        </div>


        <div id="roitable" style="width:50%;float:right;padding:1px;overflow-y:visible">

            <div title="Comparison of ROI in other states:">
                <table id="roi_by_state" class="easyui-datagrid" title="Salary information is not available for all majors in all states" style="align:center">
                <thead>
                    <tr>
                        <th data-options="field:'State'">State</th>
                        <th data-options="field:'AveTuition', align:'right'">Average Tuition ($)</th>
                        <th data-options="field:'AveStart',align:'right'">Average Starting Salary ($)</th>
                        <th data-options="field:'AvePeak',align:'right'">Average Peak Salary ($)</th>
                        <th data-options="field:'10YRROI', align:'right'">10-Year ROI Score</th>
                    </tr>
                </thead>
                </table>
            </div>
        </div>
    </div>

    <!--Populates D3 Compare Tuition bar chart based on state dropdown. Based largely on code from here: http://bl.ocks.org/Caged/6476579 -->
    <script language="javascript">
        // Populates D3 Compare Tuition bar chart based on state dropdown
        $('#statelist').change(function() {
            //Clear SVG canvas before drawing (in case the user reselects a major )
            //https://stackoverflow.com/questions/29758385/clear-d3-js-charts-before-loading-new-chart
            d3.select("#tuition_chart").selectAll("svg").remove();

            //Get state value and create bar chart
            $.ajax({
                url: '/stemroi/api/compare_tuition',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                // Get state selected and convert the object to a string
                // https://stackoverflow.com/questions/6323338/jquery-ajax-posting-json-to-webservice
                data: JSON.stringify({ fips: $('#statelist :selected').val()}),
                success: function(dataT) {

                    // set the dimensions and margins of the graph
                    var marginT = {top: 50, right: 20, bottom: 10, left: 80},
                        widthT = $("#d3chartstable").width()-30 - marginT.left - marginT.right,
                        heightT = 200 - marginT.top - marginT.bottom;

                    // set the ranges
                    var xT = d3.scaleBand()
                              .range([0, widthT])
                              .padding(0.1);
                    var yT = d3.scaleLinear()
                              .range([heightT, 0]);

                    //Create custom tooltips based on this example: http://bl.ocks.org/Caged/6476579
                    //Wrap text: https://groups.google.com/forum/?fromgroups=#!topic/d3-js/GgFTf24ltjc
                    var tipT = d3.tip()
                        .attr('class', 'd3-tip')
                        .offset([-10, 0])
                        .html(function(dT) {
                            return "<strong>University:</strong> <span style='color:lightblue'>" + dT.university_name + "</span><br>" +
                                "<strong>" + dT.tuition_source + "</strong> <span style='color:lightblue'>" + "$" + dT.tuition + "</span>";
                        });

                    // append the svg object to the body of the page
                    // append a 'group' element to 'svg'
                    // moves the 'group' element to the top left margin
                    var svgT = d3.select("#tuition_chart").append("svg")
                        .attr("width", widthT + marginT.left + marginT.right)
                        .attr("height", heightT + marginT.top + marginT.bottom)
                      .append("g")
                        .attr("transform",
                              "translate(" + marginT.left + "," + marginT.top + ")");


                    svgT.call(tipT);

                    // Scale the range of the data in the domains
                    xT.domain(dataT.map(function(dT) { return dT.university_name; }));
                    yT.domain([0, d3.max(dataT, function(dT) { return dT.tuition; })]);

                    // append the rectangles for the bar chart
                    svgT.selectAll(".bar")
                        .data(dataT)
                        .enter().append("rect")
                          .attr("class", "bar")
                          .attr("x", function(dT) { return xT(dT.university_name); })
                          .attr("width", xT.bandwidth())
                          .attr("y", function(dT) { return yT(dT.tuition); })
                          .attr("height", function(dT) { return heightT - yT(dT.tuition); })
                          .on('mouseover', tipT.show)
                          .on('mouseout', tipT.hide);

                    // add the x Axis
                    svgT.append("g")
                        .attr("transform", "translate(0," + heightT + ")")
                        .call(d3.axisBottom(xT))
                        //Removes the university name text on x-axis after axis is created. //https://stackoverflow.com/questions/19787925/create-a-d3-axis-without-tick-labels
                        .selectAll("text").remove();

                    // add the y Axis
                    svgT.append("g")
                        .call(d3.axisLeft(yT));
                    svgT.append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 0 - marginT.left)
                        .attr("x",0 - (heightT / 2))
                        .attr("dy", "2em")
                        .style("text-anchor", "middle")
                        .text("Tuition (2015)");
                    svgT.append("text")
                        .attr("x", (widthT / 2))
                        .attr("y", 0 - (marginT.top / 2))
                        .attr("text-anchor", "middle")
                        .style("font-size", "16px")
                        .style("font-weight", "bold")
                        .text("Tuition by University in " + $('#statelist :selected').text());
                },


                error: function(e) {
                    console.log(e);
                }
             });
        });


    </script>


    <!--Populates D3 projected job openings bar chart based on major dropdown -->
    <script language="javascript">

        // Populates D3 Projected Jobs bar chart based on major dropdown
        $('#majorlist').change(function() {
            //Clear SVG canvas before drawing (in case user reselects )
            //https://stackoverflow.com/questions/29758385/clear-d3-js-charts-before-loading-new-chart

            d3.select("#jobs_chart").selectAll("svg").remove();

            //Get state value and create bar chart
            $.ajax({
                url: '/stemroi/api/projected_jobs',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                // Get state selected and convert the object to a string
                // https://stackoverflow.com/questions/6323338/jquery-ajax-posting-json-to-webservice

                data: JSON.stringify({ cip: $('#majorlist :selected').val()}),

                success: function(dataJ) {

                    // set the dimensions and margins of the graph
                    var marginJ = {top: 50, right: 20, bottom: 10, left: 80},
                        widthJ = $("#d3chartstable").width()-30 - marginJ.left - marginJ.right,
                        heightJ = 200 - marginJ.top - marginJ.bottom;

                    // set the ranges
                    var xJ = d3.scaleBand()
                              .range([0, widthJ])
                              .padding(0.1);
                    var yJ = d3.scaleLinear()
                              .range([heightJ, 0]);

                    //Create custom tooltips based on this example: http://bl.ocks.org/Caged/6476579
                    //Wrap text: https://groups.google.com/forum/?fromgroups=#!topic/d3-js/GgFTf24ltjc
                    var tipJ = d3.tip()
                        .attr('class', 'd3-tip')
                        .offset([-10, 0])
                        .html(function(dJ) {
                            return "<strong>State:</strong> <span style='color:lightblue'>" + dJ.area_name + "</span><br>" +
                                "<strong>Projected Job Openings (2014): </strong> <span style='color:lightblue'>" + dJ.jobs + "</span>";
                        });

                    // append the svg object to the jobs_chart div
                    // append a 'group' element to 'svg'
                    // moves the 'group' element to the top left margin
                    var svgJ = d3.select("#jobs_chart").append("svg")
                        .attr("width", widthJ + marginJ.left + marginJ.right)
                        .attr("height", heightJ + marginJ.top + marginJ.bottom)
                      .append("g")
                        .attr("transform",
                              "translate(" + marginJ.left + "," + marginJ.top + ")");


                    svgJ.call(tipJ);

                    // Scale the range of the data in the domains
                    xJ.domain(dataJ.map(function(dJ) { return dJ.area_name; }));
                    yJ.domain([0, d3.max(dataJ, function(dJ) { return dJ.jobs; })]);

                    // append the rectangles for the bar chart
                    svgJ.selectAll(".bar")
                        .data(dataJ)
                        .enter().append("rect")
                          .attr("class", "bar")
                          .attr("x", function(dJ) { return xJ(dJ.area_name); })
                          .attr("width", xJ.bandwidth())
                          .attr("y", function(dJ) { return yJ(dJ.jobs); })
                          .attr("height", function(dJ) { return heightJ - yJ(dJ.jobs); })
                          .on('mouseover', tipJ.show)
                          .on('mouseout', tipJ.hide);

                    // add the x Axis
                    svgJ.append("g")
                        .attr("transform", "translate(0," + heightJ + ")")
                        .call(d3.axisBottom(xJ))
                        //Removes the university name text on x-axis after axis is created. //https://stackoverflow.com/questions/19787925/create-a-d3-axis-without-tick-labels
                        .selectAll("text").remove();

                    // add the y Axis
                    svgJ.append("g")
                        .call(d3.axisLeft(yJ));
                    svgJ.append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 0 - marginJ.left)
                        .attr("x",0 - (heightJ / 2))
                        .attr("dy", "2em")
                        .style("text-anchor", "middle")
                        .text("Job Openings (2014)");
                    svgJ.append("text")
                        .attr("x", (widthJ / 2))
                        .attr("y", 0 - (marginJ.top / 2))
                        .attr("text-anchor", "middle")
                        .style("font-size", "16px")
                        .style("font-weight", "bold")
                        //Add chart title based on major dropdown selected
                        .text("Jobs for " + $('#majorlist :selected').text() + " Majors by State");

                },


                error: function(e) {
                    console.log(e);
                }
             });
        });


    </script>

    <script type="text/javascript">
    //create D3 panel tabs and create on click event listener
    $(function(){
        var tabs = $('#d3chartstable').tabs().tabs('tabs');
        for(var i=0; i<tabs.length; i++){
            tabs[i].panel('options').tab.unbind().bind('onSelect',{index:i},function(e){
                $('#d3chartstable').tabs('select', e.data.index);
            });
        }
    });
    </script>


    <!--Google Maps API key for dev environment-->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdPspKiEU_oN3E9aqYOsKY5kB72Uh4XvE&callback=initMap">
    </script>
  </body>
</html>
